:root{
    box-sizing: border-box;
}
@media screen and (min-width: 900px) {
     
    
  }
.city-img{
    height: auto;
    width: 50em;

}
h1, h2, p{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
button{

    }
    