#root{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;  
    display: flex;
    justify-content: center; 
    text-align: center; 
    
}
@media screen and (max-width: 650px) {
     
    
  }
.city-img{
    height: 50vh;
    width: 100vw;

}
h1{
    font-size: 3em;
}
p{
    font-size: 10rem;
    color: aliceblue;
    margin: 0;
}
.weather-card{
    height: 8em;
}

    